<perfect-scrollbar fxFlex>
    <div class="w-100">
        <img src="./assets/img/app-icon-256.png" alt="" width="100" height="100" />
        <h2>Todo Cloud</h2>
        <p class="version">{{appVersion}}</p>
        <p>{{copyrightString}}</p>
        <p>All rights reserved.</p>
        <ul class="links">
            <li><a href="https://www.todo-cloud.com/terms" target="_blank">Terms</a></li>
            <li>|</li>
            <li><a href="https://www.todo-cloud.com/privacy" target="_blank">Privacy Policy</a></li>
            <li>|</li>
            <li><a href="http://support.appigo.com/" target="_blank">Support</a></li>
        </ul>
        <hr>
        <h3>Third Party Licenses</h3>
        <ul class="third-party">
            <li>
                <h4>Veritatis</h4>
                <p class="copy">tempus mus accumsan</p>
                <p class="license">License: <a href="https://opensource.org/licenses/MIT" target="_blank">MIT</a></p>
            </li>
            <li>
                <h4>Lectus voluptate</h4>
                <p class="copy">aliquip tempore quaerat eos</p>
                <p class="license">License: <a href="https://opensource.org/licenses/MIT" target="_blank">MIT</a></p>
            </li>
            <li>
                <h4>Veritatis</h4>
                <p class="copy">tempus mus accumsan</p>
                <p class="license">License: <a href="https://opensource.org/licenses/MIT" target="_blank">MIT</a></p>
            </li>
            <li>
                <h4>Lectus voluptate</h4>
                <p class="copy">aliquip tempore quaerat eos</p>
                <p class="license">License: <a href="https://opensource.org/licenses/MIT" target="_blank">MIT</a></p>
            </li>
        </ul>
    </div>
</perfect-scrollbar>
